@model Inventory_App.Models.Register

@{
    ViewBag.Title = "signup";
    Layout = "../Shared/_LayoutAuth.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo">
                            <img src="~/Content/img/mylogo.png" alt="img">
                        </div>
                        <div class="login-userheading">
                            <h3>Create an Account</h3>
                            <h4>Continue where you left off</h4>
                        </div>
                        <div class="form-login">
                            <label>Full Name</label>
                            <div class="form-addons">
                                @Html.EditorFor(c => c.FullName)

                                <img src="~/Content/icons/users1.svg" alt="img">
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-login">
                            <label>Phone</label>
                            <div class="form-addons">
                                @Html.EditorFor(c => c.Phone)
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                @Html.EditorFor(c => c.Email)

                                <img src="~/Content/icons/mail.svg" alt="img">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input type="password" class="pass-input" name="Password" placeholder="Enter your password" />

                                <span class="fas toggle-password fa-eye-slash"></span>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "font-weight:bolder" })

                        <br />

                        <br />
                        <div class="form-login">
                            <input type="submit" value="Sign Up" class="btn btn-login" />

                        </div>
                        <div class="signinform text-center">
                            <h4>Already a user? <a href="@Url.Action("login", "Authentication")" class="hover-a">Sign In</a></h4>
                        </div>
                        <div class="form-setlogin">
                            <h4>Or sign up with</h4>
                        </div>
                        <div class="form-sociallink">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/icons/google.png" class="me-2" alt="google">
                                        Sign Up using Google
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/icons/facebook.png" class="me-2" alt="google">
                                        Sign Up using Facebook
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/Content/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>

}
